@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

$f-family: 'Lato', sans-serif;
$f-logo: 'Grand Hotel', cursive;

$f-w-thin: 100;
$f-w-light: 300;
$f-w-regular: 400;
$f-w-bold: 700;

$c-primary: #283044;
$c-secondary: #FFA62B;
$c-white: #f3f3f3;
$c-red: #CC2936;
$c-green: #2fc921;
$c-gray-10: #F7F4F3;
$c-gray-50: #7D869C;

$b-radius: 0.5rem;
